.search-bar {
  display: flex;
  align-items: center;
  background-color: #98fb98;
  opacity: 0.8;
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 8px;
  width: 400px;
  height: 40px;
  margin-left: 50px;
  margin-top: 20px;
}

.search-input {
  flex-grow: 1;
  border: none;
  outline: none;
  background-color: #98fb98;
}

.search-button {
  border: none;
  color: #fff;
  cursor: pointer;
  outline: none;
  padding: 8px;
}

.parent {
  display: grid;
  grid-template-columns: 1fr 2fr 1.3fr;
  grid-template-rows: 0.5fr 3fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.parent .div1{
  height:700px;
}

